


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'IG.icon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Cadastro</title>
</head>
<body>
    
    <div id="page" class="site">
        <div class="container">
            <div class="wrapper">
                <div class="signup">
                    <div class="content-heading">
                        <div class="y-style">
                            <div class="logo"><a href="#">D<span>W</span>D</a></div>
                            <div class="welcome">
                                <h2>Bem-vindo<br> ao Centro Médico Kipungo!! </h2><br>
                                <p>Cuidando da sua saude.</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-form">
                        <div class="y-style">
                            <h2>Alterar seu email</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Alterar email</button>
</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>