

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/alert.css' %}">
    <title>Notification Card</title>
</head>
<body>
    <div class="notification-card">
        
        <div class="notification-content">
            <h3>Nova notificação!</h3>
            <h2>Redefinação de password enviada</h2>
            <p>We've emailed you instructions for setting your password. You should receive the email shortly.</p>
            
            <div class="notification-actions">
                <button class="view-button"><a href="{% url 'login' %}">Login</a></button>
                
            </div>
        </div>
    </div>
</body>
</html>